body {
    height: 100vh;
    background-image: url('https://st2.depositphotos.com/5382944/10714/i/950/depositphotos_107148426-stock-photo-obese-person-measuring-his-belly.jpg');
    background-size: cover;
}
