body {
    height: 100vh;
    background-image: url('http://4.bp.blogspot.com/-WU2wgy-m__g/VOugi30ki3I/AAAAAAAAVKQ/nbEPBO9lHek/s1600/10171865_1549540055281477_734054171173673409_n.jpg');
    background-size: cover;
}
