body {
    height: 100vh;
    background-image: url('https://img.freepik.com/fotos-gratis/conceito-textured-pintado-colorido-concreto-do-papel-de-parede-da-parede_53876-31799.jpg?size=626&ext=jpg');
    background-size: cover;
}
